.benefits {
  background-color: $white;
  text-align: center;
  counter-reset: numbers;
}

.benefits__container {
  padding: 26px;
}

.benefits__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;

  &--count::after {
    display: block;
    counter-increment: numbers;
    content: "— №" counter(numbers) " —";

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
}

.benefits__text {
  margin: 0;
}

.benefits__list {
  display: grid;
  background-color: $light-blue;
  background-image: url("../../img/arrow-background.svg");
  background-size: 768px 37px;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 37px;
  

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    background-image: none;
    padding-top: 0;
  }
}

.benefits__item {
  background-color: $grey;

  &--large {
    background-color: $light-blue;
    color: $white;
  }

  &--sub {
    background-color: $white;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
  } 

  @media (min-width: $tablet-width) {
    &--large {
      grid-column: 1/-1;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--sub {
      flex-direction: column;
      text-align: center;
    }
  }
}

.benefits__picture {
  display: block;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-column: 2/4;

    &--reverse {
      grid-column: 1/3;
      grid-row: 1;
    }
  }
}

.benefits__picture img {
  display: block;
  width: 100%;
  height: auto;
}

.benefits__icon svg {
  @media (min-width: $tablet-width) {
    width: 75px;
    height: 75px;
  }
}