.benefits__caption {
  text-align: center;
}

.benefits__list {
  counter-reset: numbers;
  display: grid;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    background-image: none;
    padding-top: 0;
  }
}

.benefits__item {
  background-color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &--picture {
    width: 100%;
    min-height: 280px;
    height: auto;
    background-image: url("/img/photo-city@1x1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &_reverse {
      background-image: url("/img/photo-bridge@1x1.jpg");
    }
  }

  &--color {
    background-color: $light-blue;
    color: $white;
  }

  &--count {
    &::after {
      display: block;
      counter-increment: numbers;
      content: "— №" counter(numbers) " —";
    }
  }

  @media (min-width: $tablet-width) {
    &--picture {
      grid-column: 2/4;

      &_reverse {
        grid-column: 1/3;
        grid-row: 3/4;
      }
    }
  }
}

.benefits__item p {
  order: 1;
}
