.features {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  font: 400 14px/21px "PT Sans", "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.features__item {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: baseline;
  column-gap: 10px;
  text-align: left;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 10px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 10px 60px;
  }
}

.features h4,
.features p {
  margin: 5px 0;
}

.features__item svg {
  grid-row: 1/3;
  transform: translateY(25%);
  justify-self: center;
}
