.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 389px;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro svg {
  width: 282px;
  height: 214px;
}
