.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 389px;
  background: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.intro__text {
  width: 282px;
  height: 214px;
}

.intro__background {
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 57px;
  fill: rgba(255, 255, 255, 1);
}


