.main-nav {
  width: 100%;
  min-height: 56px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;

  position: absolute;
  left: 0;
  top: 0;

  z-index: 10;
}

.main-nav--close {
  top: -1000px;
}

.main-nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #81B3D2;
  mix-blend-mode: normal;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.main-nav__item a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
