.page-header {
  background: $white;
}

.page-header__logo {
  position: relative;
  min-height: 50px;

  @media (min-width: $tablet-width) {
    min-height: 0;
    position: static;
  }
}

.page-header__link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
