.page-footer {
  font: 14px/26px "PT Sans", "Arial", sans-serif;
  text-align: center;
}

.page-footer__inner {
  margin: 0 auto;
  padding: 20px;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.page-footer__icon {
  width: 27px;
  height: 34px;
  fill: rgba(0, 0, 0, 1);
}
