.photos {
  padding: 0 20px;
  @media (min-width: $tablet-width) {
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photos__item {
  @media (min-width: $tablet-width) {
    &:first-of-type {
      grid-column: 1/3;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-of-type {
      grid-column: 1/4;
    }
  }
}
