.player {
  max-width: 100%;
  position: relative;
}

.player video {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 201px;
  background-image: url("../img/video-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  @media (min-width: $tablet-width) {
    min-height: 500px;
  }
}

.player__controls {
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  width: calc((280 / 320) * 100%);
  z-index: 2;

  @media (min-width: $tablet-width) {
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
  }
}

.player__controls-wrapper {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 45px, #f2f2f2 45px);
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.player__slider {
  flex: 0 1 100%;
  order: -1;
  height: 3px;
  margin: 21px 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.2) 50%);
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    flex: auto;
    order: 0;
  }
}

.player__button {
  margin: 5px 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:nth-child(3) {
    margin-right: auto;
  }
}

.player__button img {
  margin: 0;
  padding: 0;
}
