.main-nav {
  width: 100%;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-nav__list {
  z-index: 2;
  width: 100%;

  &--closed {
    display: none;
  }

  &--open {
    display: block;
  }

  &--nojs {
    display: block;
  }

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__item {
  min-height: 50px;
  background-color: $light-blue;
  color: $white;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (max-width: 767px) {
    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;

      & a {
        opacity: 0.3;
      }
    }
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
    box-shadow: none;
    flex: 1 1 20%;
    padding: 5px;
    color: #000000;

    &--active {
      color: #766357;
    }

    &:nth-child(4n+2) {
      margin-right: 20%;
    }

    &:not(.main-nav__item--active) a:hover {
      color: #81b3d2;
    }

    &:not(.main-nav__item--active) a:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.main-nav__item a {
  color: inherit;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  padding: 10px 5px;

  @media (min-width: $tablet-width) {
    display: inline;
    font-size: 14px;
  }
}

.main-nav__toggle {
  display: block;
  position: absolute;
  z-index: 3;

  top: 15px;
  right: 15px;

  width: 22px;
  height: 22px;

  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  &--open {
    background-color: $white;
    background-image: url("../img/icon-menu.svg");
  }

  &--close {
    background-image: url("../img/icon-cross.svg");
    background-color: $light-blue;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
