.video {
  background-color: $white;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
  }
}

.video__caption {
  text-align: center;
  padding: 20px;
}

.video__content {
  margin: 0 auto;
}
