.intro {
  width: 100%;
  min-height: 214px;
  background: #87a9c5 url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  &--index {
    min-height: 389px;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background: #87a9c5 url("../img/back-mobile@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  @media (min-width: $tablet-width) {
    min-height: 290px;
    background: #87a9c5 url("../img/back-desktop.jpg");
    background-size: 1200px 518px;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: #87a9c5 url("../img/back-desktop@2x.jpg");
      background-size: 1200px 518px;
      background-position: center;
    }

    &--index {
      min-height: 518px;
    }
  }

  &::after {
    content: "";
    background-image: url("../img/intro-triangle.svg");
    background-position: center bottom;
    background-size: 1200px 57px;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 100%;
    height: 57px;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}

.intro__img {
  @media (min-width: $tablet-width) {
    width: 460px;
    height: 77px;

    &--index {
      height: 350px;
    }
  }
}
