.like {
  display: flex;
  align-items: center;
}

.like button {
  border: none;
  background-color: transparent;
}

.like__icon {
  @media (min-width: $desktop-width) {
    & path {
      opacity: 1;
      fill: $white;
    }
  }
}
